<details>
	<summary></summary>
	<nav class="menu">
	  <a routerLink="calendar-study">Calendar</a>
	  <a routerLink="list-class">Class</a>
	  <a routerLink="list-registered">Registered</a>
	  <a href="#link">Contact</a>
	  <a href="#link">About</a>
	</nav>
  </details>
<div class="card-container">
	<span class="pro">PRO</span>
	<img class="round" src="http://localhost:30/api/v1/profile/avatar/{{user.avatar}}" alt="user" />
	<h3>{{user.name}}</h3>
	<h6>{{user.roles}}</h6>
	<p>User interface designer and <br/> front-end developer</p>
	<div class="buttons">
		<button class="primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightt" aria-controls="offcanvasRight">
			Update Avatar
		</button>
		<button class="primary ghost" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
			Change Password
		</button>
	</div>
	<div class="skills">
		<h6>Skills</h6>
		<ul>
			<li>UI / UX</li>
			<li>Front End Development</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>React</li>
			<li>Node</li>
		</ul>
	</div>
</div>
<router-outlet></router-outlet>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
	  <h5 id="offcanvasRightLabel">Change Password Of you</h5>
	  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<p>New Password</p>
		<input type="password" name="password" [(ngModel)]="password">
		<p>Enter Password Again</p>
		<input type="password" name="passwordAgin">
	</div>
	<button class="primary" (click)="updatePass()">Ok</button>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightt" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
	  <h5 id="offcanvasRightLabel">Change Avata</h5>
	  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<p>Please choice image from local computer</p>
		<div class="group">
			<input
				type="file"
				(change)="fileChange($event)"
			/>
		</div>
		
		<button class="primary" (click)="updateAva()">Change</button>
	</div>
  </div>
  


